<!DOCTYPE html>
<html>
<head>
  <title>Intimate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top home-navbar" role="navigation">
	<div class="navbar-inner"> 
		<div class="container">
			<%= link_to "intimate", root_path, id:"logo" %>
    		<nav class= "pull-right">
    			<div class="btn-group">
    				<%= link_to "登录", signin_path, class:"btn, btn-outline-inverse, login-attractive" %>
    				<%= link_to "注册", signup_path, class:"btn, btn-outline-inverse, signup-attractive" %>
    			</div>
			</nav>
      	</div>
  	</div>
</header>

<section class="intimate_background">
	<div class="container">
		<div class = "row">
		</div>
	</div>
</section>

</body>
</html>

