<% content_for :for_head do %>
	<%= stylesheet_link_tag 'fwtabs', media: 'all', 'data-turbolinks-track' => true %>
  	<meta name="viewport" content="width=device-width, initial-scale=1"> 
<% end %>
<svg class="hidden">
	<defs>
		<path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"/>
	</defs>
</svg>

<div class="container">
	
		<div class="avatar">
			<h1><%= image_tag("profile.jpg", alt: "profile")%></h1>
		</div>
		<h1><%= @user.name %></h1>
		<h1><%= link_to "个人设置", edit_user_path(current_user), class:"btn, btn-outline-inverse, login-attractive" %></h1>

		<%= render :partial => 'layouts/leftside', :locals => { :tab_index => "home"} %>

		<div class="tabs tabs-style-shape">
			<nav>
				<ul>
					<li>
						<a href="#section-shape-1">
							<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
							<span>今日记账</span>
						</a>
					</li>
					<li>
						<a href="#section-shape-2">
							<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
							<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
							<span>我的计划</span>
						</a>
					</li>
					<li>
						<a href="#section-shape-3">
							<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
							<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
							<span>双方通知</span>
						</a>
					</li>
					<li>
						<a href="#section-shape-4">
							<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
							<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
							<span>纪念日</span>
						</a>
					</li>
					<li>
						<a href="#section-shape-5">
							<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
							<span>时光纵览</span>
						</a>
					</li>
				</ul>
			</nav>
			<div class="content-wrap">
				<section id="section-shape-1"><%= render :partial => 'finance/index', :locals => { :@bill => Bill.new} %></section>
				<section id="section-shape-2"><%= render :partial => 'plans/index', :locals => { :@plan => Plan.new} %></section>
				<section id="section-shape-3"><%= render :partial => 'reminds/index', :locals => { :@remind => Remind.new} %></section>
				<section id="section-shape-4"><%= render :partial => 'memories/index', :locals => { :@memory => Memory.new} %></section>
				<section id="section-shape-5"><%= render :partial => 'happiness/index', :locals => { :@happy => Happy.new} %></section>
			</div><!-- /content -->
		</div><!-- /tabs -->

	<%= javascript_include_tag 'cbpFWTabs', 'data-turbolinks-track' => true %>
	<script>
		(function() {
			[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
				new CBPFWTabs( el );
			});
		})();
	</script>
</div>