<% content_for :for_head do %>
	<%= stylesheet_link_tag 'sumsung_grid', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<%= render 'layouts/offside' %>

<div class="container">
	<section class="grid-wrap">
		<ul class="grid swipe-down" id="grid">
			<% 13.times do %>
        		<li><a href="#"><%= image_tag("http://i0.sinaimg.cn/ent/m/f/2008-07-11/U1358P28T3D2097154F326DT20080711112703.jpg") %><h3>海瑟薇</h3></a></li>
        		<li><a href="#"><%= image_tag("http://gb.cri.cn/mmsource/images/2009/05/06/eb0905060012.jpg") %><h3>梅根</h3></a></li>
    		<% end %>

    		<% 13.times do %>
        		<li><a href="#"><%= image_tag("http://www.hkcna.hk/content/2014/0827/U280P22T1D289281F1DT20140827120716.jpg") %><h3>碧昂斯</h3></a></li>
        		<li><a href="#"><%= image_tag("http://i0.sinaimg.cn/ent/m/f/2008-07-11/U1358P28T3D2097154F326DT20080711112703.jpg") %><h3>海瑟薇</h3></a></li>
    		<% end %>

    		<% 13.times do %>
        		<li><a href="#"><%= image_tag("http://www.hkcna.hk/content/2014/0827/U280P22T1D289281F1DT20140827120716.jpg") %><h3>碧昂斯</h3></a></li>
        		<li><a href="#"><%= image_tag("http://gb.cri.cn/mmsource/images/2009/05/06/eb0905060012.jpg") %><h3>梅根</h3></a></li>
    		<% end %>

		</ul>
	</section>
</div><!-- /container -->

<% content_for :for_script do %>
	<%= javascript_include_tag 'sumsung_grid', 'data-turbolinks-track' => true %>
	<script>
		new GridScrollFx( document.getElementById( 'grid' ), {
			viewportFactor : 0.4
		} );
	</script>
<% end %>