<!-- <div class="container">
	<div class="jumbotron">
		<div class="container">
			<h2>
				<%= link_to "账单详情", finance_detail_path %>
			</h2>
		</div>
	</div>
</div> -->

<div class="container">
	<div class="jumbotron">
		<div class="container block">
			<%= form_for(@feedback) do |f| %>
			    <div class="form-group">
			        <%= f.text_field :email,  placeholder: '回访邮箱（可选）', class: 'form-control' %>
			    </div>
			    
			    <div class="form-group">
			        <%= f.text_field :title, placeholder: '总额', class: 'form-control' %>
			    </div>
			      
			    <div class="form-group">
			        <%= f.text_area :content, :rows => 12, :cols => 100, placeholder: '具体花费', class: 'form-control feedback-content' %>
			    </div>

			    <h2>
			        <%= f.submit "入账", class: "btn btn-default btn-primary btn-absolute-default" %>
			    </h2>
		    <% end %>
		</div>
	</div>
</div>