<div class="container">
	<div class="jumbotron">
		<div class="container block">
			<%= form_for(@bill) do |f| %>

				<div class="form-group">
					<%= f.text_field :createtime,  placeholder: (Time.new).strftime("%Y-%m-%d"), readonly: true, class: 'form-control datepicker' %>	
			    </div>
			    
			    <div class="form-group">
			        <%= f.text_field :spend, placeholder: '总额', class: 'form-control' %>
			    </div>
			      
			    <div class="form-group">
			        <%= f.text_area :detail, :rows => 12, :cols => 100, placeholder: '具体花费', class: 'form-control feedback-content' %>
			    </div>

			    <h2>
			        <%= f.submit "入账", class: "btn btn-default btn-primary btn-absolute-default" %>
			    </h2>
		    <% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
	    $('.datepicker').datepicker();
	});
</script>