<% content_for :for_head do %>
	<%= stylesheet_link_tag    'fwtabs', media: 'all', 'data-turbolinks-track' => true %>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
<% end %>
<svg class="hidden">
	<defs>
		<path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"/>
	</defs>
</svg>

<div class="container">
	<section>
		<div class="tabs tabs-style-linebox">
			<nav>
				<ul>
					<li><a href="#section-linebox-5"><span>周账单</span></a></li>
					<li><a href="#section-linebox-4"><span>月账单</span></a></li>
					<li><a href="#section-linebox-2"><span>年账单</span></a></li>
				</ul>
			</nav>
			<div class="content-wrap">
				<section id="section-linebox-1"><%= render 'finance/week_bill' %></section>
				<section id="section-linebox-2"><%= render 'finance/month_bill' %></section>
				<section id="section-linebox-3"><%= render 'finance/year_bill' %></section>
			</div><!-- /content -->
		</div><!-- /tabs -->
	</section>
</div>

<% content_for :for_script do %>
	<%= javascript_include_tag 'cbpFWTabs', 'data-turbolinks-track' => true %>
		<script>
			(function() {

				[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
					new CBPFWTabs( el );
				});

			})();
	</script>
<% end %>