<div>
    <ul id="leftside" class= <%= tab_index %> >
        <li class="home">
            <%= link_to(current_user) do %>
                <p class="vertical">主页</p>
            <% end %>
        </li>
        <li class="finance">
            <%= link_to(finance_detail_path) do %>
                <p class="vertical">账单</p>
            <% end %>
        </li>
        <li class="plan">
            <%= link_to(current_user) do %>
                <p class="vertical">计划</p>
            <% end %>
        </li>
        <li class="notice">
            <%= link_to(current_user) do %>
                <p class="vertical">通知</p>
            <% end %>
        </li>
        <li class="memory">
            <%= link_to(current_user) do %>
                <p class="vertical">待定</p>
            <% end %>
        </li>
        <li class="happiness">
            <%= link_to(times_path) do %>
                <p class="vertical">时光</p>
            <% end %>
        </li>
    </ul>
</div>

<%= javascript_include_tag 'leftside', 'data-turbolinks-track' => true %>